# ignore
.DS_Store
*.pyc
*data.db*
.pydev*
.project

org.eclipse*

docs/_build

*/local_settings.py
*/smedia
*/media
*/temp
*/logs
*/static
*/site-static/css/*
*/site-static/.sass-cache
*/data.db
*/static/CACHE
*/cache/*
