{% extends "base.html" %}
{% load sekizai_tags webdesign %}

{% block "main" %}
<h1><i class="icon-camera-retro"></i> {{ title }} <small>Sesion</small></h1>

{% for tweet in tweets %}
<h3><small>From:</small> {{ tweet.from_user }} <small>to:</small> {{ tweet.to_user }}</h3>
<p>{{ tweet.text|urlize }}</p>
{% endfor %}


{% endblock %}

{% block "sidebar" %}

<form action="" method="post">
	{% csrf_token %}
	<fieldset>
		<legend>
			<h4>Search<i class="icon-search pull-right"></i></h4>
		</legend>
		<label>Query</label>
		<input type="text" name="query" {% if query %}value="{{ query }}"{% endif %} placeholder="Search query…">
		<span class="help-block">Example: "from:twitterapi"</span>
		<button type="submit" class="btn btn-primary pull-right">
			Search
		</button>
	</fieldset>
</form>
{% endblock %}
