{% extends "base.html" %}
{% load sekizai_tags webdesign %}

{% block "main" %}
<h1>Twitter Search</h1>
{% endblock %}

{% block "sidebar" %}
<form action="" method="post">
	<fieldset>
		<legend>
			<h4>Search<i class="icon-search pull-right"></i></h4>
		</legend>
		<label>Query</label>
		<input type="text" name="query" {% if query %}value="{{ query }}"{% endif %} placeholder="Search query…">
		<span class="help-block">Example: "from:twitterapi"</span>
		<button type="submit" class="btn btn-primary pull-right">
			Search
		</button>
	</fieldset>
</form>
{% endblock %}
