{% load sekizai_tags %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">

		<title></title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css">

		{% render_block "css" %}

		<script src="{{ STATIC_URL }}js/lib/modernizr-2.5.3.min.js"></script>
		<script src="{{ STATIC_URL }}js/lib/jquery-1.9.0.min.js"></script>
		<script src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-collapse.js"></script>
		
		<script src="{{ STATIC_URL }}js/comments.js"></script>


	</head>
	<body>

		<div class="navbar">
			<div class="navbar-inner">
				{% include "navigation/_main.html" %}
			</div>
		</div>

		<div class="container">

			<header>
				{% block "header" %}{% endblock %}
			</header>

			<section id="global">

				<div class="row">
					<div class="span8">
						{% block "main" %}{% endblock %}
					</div>
					<div class="span4">
						{% block "sidebar" %}{% endblock %}
					</div>
				</div>

			</section>

			<footer>
				{% block "footer" %}{% endblock %}
			</footer>

		</div>

		{% render_block "js" %}

	</body>
</html>