Django==1.4.3
South==0.7.6
Werkzeug==0.8.3
django-appconf==0.6
django-classy-tags==0.4
django-extensions==1.0.3
django-sekizai==0.7
django-staticfiles==1.2.1
six==1.2.0
wsgiref==0.1.2
requests
pil
easy-thumbnails==1.2
